@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300;400;700&display=swap');

:root {
    --bg-grey: #E8E8E8;
    --text-grey: #4A4A4A;
    --color-primary: #4D41C0;
    --white: #fff;
    --text-light-grey: #AAA;
    --yellow-star: #FFBB3A;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: 'Open Sans', sans-serif;
}
h1, h2, h3, h4, h5, h6 {
    margin: 0;
}

html, body {
    background-color: var(--bg-grey);
}

nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

nav h1 {
    font-size: 24px;
    font-weight: 700;
}

nav a {
    font-size: 12px;
    font-weight: 400;
}

header {
    background-color: var(--color-primary);
    color: var(--white);
    display: flex;
    align-items: center;
    height: 60px;
}

a, a:hover {
    color: unset;
    text-decoration: none;
}

.smartmovie-contact-container {
    display: flex;
    align-items: center;
}

.smartmovie-contact-container img {
    margin-right: 10px;
}

.smartmovie-card {
    width: 100%;
}

#smartmovie-card-list {
    padding: 0 10px;
}

.smartmovie-card img {
    width: 100%;
    border-radius: 8px 8px 0 0;
    /* height: 196.75px; */
}

.smartmovie-card-description {
    align-items: center;
    background-color: var(--white);
    border-radius: 0 0 8px 8px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 10px 20px 20px 20px;
    min-height: 190px;
}

.smartmovie-card-description h3 {
    font-size: 14px;
    font-weight: 700;
    margin-bottom: 10px;
    text-align: center;
}

.smartmovie-card-description-bottom {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.smartmovie-card-description-bottom h4 {
    font-size: 16px;
    font-weight: 700;
    color: var(--yellow-star);
}

.smartmovie-card-description-bottom img {
    width: 22px;
}

.smartmovie-card-description-bottom p {
    font-size: 12px;
    font-weight: 400;
    color: var(--text-light-grey);
    margin-bottom: 10px;
}

.smartmovie-btn, .smartmovie-btn:hover {
    background-color: var(--color-primary);
    border-radius: 4px;
    color: var(--white);
    display: flex;
    align-items: center;
    justify-content: center;
    height: 40px;
    width: 180px;
    border: 0;
    font-size: 14px;
    font-weight: 700;
}

.smartmovie-form-container {
    padding: 40px 0;
    max-width: 480px;
}

.smartmovie-pagination-container {
    padding: 15px;
    display: flex;
    justify-content: center;
}

.smartmovie-pagination-box {
    display: flex;
    width: 180px;
    justify-content: space-between;
    align-items: center;
}

.smartmovie-pagination-box p {
    margin: 0;
    font-size: 12px;
    font-weight: 400;
    color: var(--color-primary);
}

.smartmovie-pagination-box button {
    background-color: var(--white);
    height: 40px;
    width: 40px;
    border: 1px solid var(--color-primary);
    border-radius: 4px;
    display: flex;
    justify-content: center;
    align-items: center;
}

.smartmovie-pagination-box button:disabled {
    border: 1px solid var(--text-light-grey);
}

.smartmovie-flip-horizontal {
    transform: rotate(180deg);
}

.smartmovie-pagination-box button img {
    filter: brightness(0) saturate(100%) invert(22%) sepia(29%) saturate(5247%) hue-rotate(235deg) brightness(101%) contrast(89%);
}

.smartmovie-pagination-box button:disabled img {
    filter: unset;
}

/* .terminator-salvation-img-height {
    height: 172.44px;
} */

/* .terminator-salvation-fix {
    height: 200.02;
} */

/* FORM */

.smartmovie-form-description {
    background-color: var(--white);
    padding: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 0 0 8px 8px;
}

.smartmovie-form-description h3 {
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 20px;
}

.smartmovie-form {
    width: 100%;
}

.smartmovie-form-btn-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 100px;
    justify-content: space-between;
}

.smartmovie-form-group {
    margin-bottom: 20px;
}

.smartmovie-form-group label {
    font-size: 12px;
    color: var(--text-light-grey);
}